- content_for(:title, position + " at " + company)

%h1
  = position
  at
  = company
  = surround "(", ")" do
    = start_date
    \-
    = end_date
- Array(summary).each do |summary_paragraph|
  %p= summary_paragraph
- if defined? desc_file
  = partial desc_file
