%experience-card.education-item{expanded: (defined?(expanded) ? expanded : false)}
	.summary
		= succeed "," do
			= degree
		= institution
		= surround "(", ")" do
			= start_date
			\-
			= end_date
	= Array(summary).each do |summary_paragraph|
		%p= summary_paragraph
